<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="profile" href="https://gmpg.org/xfn/11" />
	<title>{{title}}  {{#if mess }} |  {{mess}} {{/if}}</title>
<meta name='robots' content='noindex, nofollow' />
<link rel='dns-prefetch' href='//s0.wp.com' />
<link rel='dns-prefetch' href='//wordpress.com' />
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel="alternate" type="application/rss+xml" title="Design &raquo; Feed" href="https://design321429498.wordpress.com/feed/" />
<link rel="alternate" type="application/rss+xml" title="Design &raquo; Comments Feed" href="https://design321429498.wordpress.com/comments/feed/" />
	<script type="text/javascript">
		/* <![CDATA[ */
		function addLoadEvent(func) {
			var oldonload = window.onload;
			if (typeof window.onload != 'function') {
				window.onload = func;
			} else {
				window.onload = function () {
					oldonload();
					func();
				}
			}
		}
		/* ]]> */
	</script>
			<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s0.wp.com\/wp-content\/mu-plugins\/wpcom-smileys\/twemoji\/2\/72x72\/","ext":".png","svgUrl":"https:\/\/s0.wp.com\/wp-content\/mu-plugins\/wpcom-smileys\/twemoji\/2\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/s0.wp.com\/wp-includes\/js\/wp-emoji-release.min.js?m=1612197847h&ver=5.7.2"}};
			!function(e,a,t){var n,r,o,i=a.createElement("canvas"),p=i.getContext&&i.getContext("2d");function s(e,t){var a=String.fromCharCode;p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,e),0,0);e=i.toDataURL();return p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,t),0,0),e===i.toDataURL()}function c(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(o=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},r=0;r<o.length;r++)t.supports[o[r]]=function(e){if(!p||!p.fillText)return!1;switch(p.textBaseline="top",p.font="600 32px Arial",e){case"flag":return s([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])?!1:!s([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!s([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]);case"emoji":return!s([55357,56424,8205,55356,57212],[55357,56424,8203,55356,57212])}return!1}(o[r]),t.supports.everything=t.supports.everything&&t.supports[o[r]],"flag"!==o[r]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[o[r]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(n=t.source||{}).concatemoji?c(n.concatemoji):n.wpemoji&&n.twemoji&&(c(n.twemoji),c(n.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
	<link rel='stylesheet' id='all-css-0-1' href='https://s0.wp.com/_static/??-eJylkttugzAMhl9oIQV13dW0Z8lp4JKTEqeUt5+hDG20YpV2E8V//P1O7PAhMhU8Go/cFRZtacFnPkQVHMsOrBk3UaVyfuGPsVxkVgkiQqDoM1gbhr38LlxMYrJIaQ3ROFqzpoNXtmiSSeBa5A7IIFcO/H3KOXOk816G67q5q/tdtC0USpNaOkmGX+pD9VbVXBawmksbVM8syCTSuLnRP4ywM+4Zo5mi9xiMYsLFGAqyNoF++i4biyQQfLtt7hZXYcGail5Rcw0ZV5E9Zn/MUWgaC5MiLV9ljW8QcB9wHt+62XObukm6iwKnDGc0CGOpgR73sFtpKWMyOTNaHRTH5s7/Uc5N1jSrfvltv5QJ/XDv9alpDqfj67E+fwGX8zLx?cssminify=yes' type='text/css' media='all' />
<style id='wp-block-library-inline-css'>
.has-text-align-justify {
	text-align:justify;
}
</style>
<style id='wpcom-admin-bar-inline-css'>

			.admin-bar {
				position: inherit !important;
				top: auto !important;
			}
			.admin-bar .goog-te-banner-frame {
				top: 32px !important
			}
			@media screen and (max-width: 782px) {
				.admin-bar .goog-te-banner-frame {
					top: 46px !important;
				}
			}
			@media screen and (max-width: 480px) {
				.admin-bar .goog-te-banner-frame {
					position: absolute;
				}
			}
		
</style>
<link rel='stylesheet' id='print-css-1-1' href='https://s0.wp.com/wp-content/themes/pub/varia/print.css?m=1571655471h&cssminify=yes' type='text/css' media='print' />
<link rel='stylesheet' id='all-css-2-1' href='https://s0.wp.com/_static/??-eJx9jd0OgjAMhV/I2oBEr4zPUkaZ021dtgLh7YV4gz/hrif9vnNwSmAkKkdFvXPggmloMdDsKXZYdPZ8NKUc8D84UnaELpo3ClMyEn6EMEDyg3Wx4OQ6y1qQh+UrT8fgaULlkDzpUvp/cVNgWcCLIXUSPwL0nlzeU6OsC9QFF6GlDGO9R2duvdjltLhQm7gnqRTInCQr9JLDd17VW7hW56qpm0t9qh4vnEqPsg==?cssminify=yes' type='text/css' media='all' />
<link rel='stylesheet' id='mayland-fonts-css'  href='https://fonts.googleapis.com/css?family=Poppins%3A400%2C400i%2C600%2C600i&#038;subset=latin%2Clatin-ext' media='all' />
<link rel='stylesheet' id='all-css-4-1' href='https://s0.wp.com/_static/??/wp-content/themes/pub/mayland/style.css,/wp-content/mu-plugins/admin-bar/masterbar-overrides/masterbar.css?m=1622206420j&cssminify=yes' type='text/css' media='all' />
<style id='jetpack-global-styles-frontend-style-inline-css'>
@import url('https://fonts.googleapis.com/css?family=Raleway:regular,bold,italic,bolditalic|Cabin:regular,bold,italic,bolditalic|');:root { --font-headings: Cabin; --font-base: Raleway; --font-headings-default: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; --font-base-default: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;}
</style>
<link rel='stylesheet' id='all-css-6-1' href='https://s0.wp.com/_static/??-eJxti0EKgCAQAD+ULUaJl+gtJqbG6opr9P3o0CHqNAzMwFmEpdxcbpAOUfDwMTMU4iY2NLECB1Nj9g97y9zB/8Vko0GB5Oktn6kFlxxDGMEjrQbvYEmzVHIclNZy2i9lFDfR?cssminify=yes' type='text/css' media='all' />
<script id='wpcom-actionbar-placeholder-js-extra'>
var actionbardata = {"siteID":"193991874","siteName":"Design","siteURL":"http:\/\/design321429498.wordpress.com","icon":"<img alt='' src='https:\/\/s0.wp.com\/i\/logo\/wpcom-gray-white.png' class='avatar avatar-50' height='50' width='50' \/>","canManageOptions":"1","canCustomizeSite":"1","isFollowing":"1","themeSlug":"pub\/mayland","signupURL":"https:\/\/wordpress.com\/start\/","loginURL":"https:\/\/wordpress.com\/log-in?redirect_to=https%3A%2F%2Fdesign321429498.wordpress.com%2F&signup_flow=account","themeURL":"https:\/\/wordpress.com\/theme\/mayland\/","xhrURL":"https:\/\/design321429498.wordpress.com\/wp-admin\/admin-ajax.php","nonce":"8f080a41eb","isSingular":"1","isFolded":"","isLoggedIn":"1","isMobile":"","subscribeNonce":"<input type=\"hidden\" id=\"_wpnonce\" name=\"_wpnonce\" value=\"ec524fa344\" \/>","referer":"https:\/\/design321429498.wordpress.com\/","canFollow":"1","feedID":"118481758","statusMessage":"","customizeLink":"https:\/\/design321429498.wordpress.com\/wp-admin\/customize.php?url=https%3A%2F%2Fdesign321429498.wordpress.com%2F","postID":"4","shortlink":"https:\/\/wp.me\/Pd7Y9c-4","canEditPost":"1","editLink":"https:\/\/wordpress.com\/page\/design321429498.wordpress.com\/4","statsLink":"https:\/\/wordpress.com\/stats\/post\/4\/design321429498.wordpress.com","i18n":{"view":"View site","follow":"Follow","following":"Following","edit":"Edit","login":"Log in","signup":"Sign up","customize":"Customize","report":"Report this content","themeInfo":"Get help setting up your theme","shortlink":"Copy shortlink","copied":"Copied","followedText":"New posts from this site will now appear in your <a href=\"https:\/\/wordpress.com\/read\">Reader<\/a>","foldBar":"Collapse this bar","unfoldBar":"Expand this bar","editSubs":"Manage subscriptions","viewReader":"View site in Reader","viewReadPost":"View post in Reader","subscribe":"Sign me up","enterEmail":"Enter your email address","followers":"","alreadyUser":"Already have a WordPress.com account? <a href=\"https:\/\/wordpress.com\/log-in?redirect_to=https%3A%2F%2Fdesign321429498.wordpress.com%2F&signup_flow=account\">Log in now.<\/a>","stats":"Stats"}};
</script>
<script crossorigin='anonymous' type='text/javascript' src='https://s0.wp.com/_static/??-eJyNz8EKwyAMBuAXmhUptOww9iytSyWixplI17efhx7GkDEIhJCP8EfvWWGyoT6AtW/1rFCOsw0R0+D5on8hFdGVReATW0oCSXSsKofqMLHmurItmAWpTRuFQPs3b6czsURgXhx0tpFWDKAqQ2kgSUu1UceVICoXeh299Jz/+Go41T3ezGTm0YzTfPVvq6RwUw=='></script>
<script type='text/javascript'>
	window.addEventListener( 'DOMContentLoaded', function() {
		rltInitialize( {"token":"rlt-MnxaRGRpZ2lQa1ZDeFdyZmZHT2szZ0NpNUEvdkdJeEozdkJ4R3BLUm1OeGtMT05HRUNhdkhXWnZpMW5NaGlxUVNGYXNGVGRtbWY1T1p6YTg1VnFsc1ZsR2VPenowbFVVUVA4QWwrZnd1YXdaYmFpeDZUTkVyUnhxTFVCMUN2QnNXRzB2OXlLaFhFTFh5UzN6ZEw2VytQQUlCV1R4czFGaWVWN1VudmUvZmNkaEF2OVdqbUZDTkJHdUlHcHFPQXRlOVVzTFN0eWhoR2wxN1V5TW4vMVJqZTNDb0tQcFE1Smc3WlZiVlFLRE5aMXRTb3JlRVhMamRIcGtUR2wrNnp3RkgwcnBVYURrQWdKYzR6eDZEa0xtUUlCVzAzMVg4bHE1VzB1L0w1SkFhc0VwZz18YzkxNzJiOGQ2NjIxOTkyYWEwMGRjM2FjYzhkODU0ODUwYThmN2MxZDhiZjFkZjdlfDI2ZjIyNTY5Njc1M2Q3ZWUxY2E5OWMzNWFhN2NkNWFiOTE1NTY2YmQ3ZmYyZjM0MTExM2NkYzc3M2MyNDRkZDFkYmExZjVmZmQ0YTIwNmNhNjI2ZWMxMTBhMTFmMTdjN2QwMDkyNjQxYjgyN2Q3NTBlNDdjMThiYzVjYjMxMjc4","iframeOrigins":["https:\/\/widgets.wp.com"]} );
	} );
</script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://design321429498.wordpress.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://s0.wp.com/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress.com" />
<link rel="canonical" href="https://design321429498.wordpress.com/" />
<link rel='shortlink' href='https://wp.me/Pd7Y9c-4' />

<!-- Jetpack Open Graph Tags -->
<meta property="og:type" content="website" />
<meta property="og:title" content="Design" />
<meta property="og:url" content="https://design321429498.wordpress.com/" />
<meta property="og:site_name" content="Design" />
<meta property="og:image" content="https://s0.wp.com/i/blank.jpg" />
<meta property="og:locale" content="en_US" />
<meta name="twitter:site" content="@wordpressdotcom" />
<meta name="twitter:text:title" content="Home" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="Visit the post for more." />
<meta property="fb:app_id" content="249643311490" />
<meta property="article:publisher" content="https://www.facebook.com/WordPresscom" />

<!-- End Jetpack Open Graph Tags -->
<link rel="shortcut icon" type="image/x-icon" href="https://s0.wp.com/i/favicon.ico" sizes="16x16 24x24 32x32 48x48" />
<link rel="icon" type="image/x-icon" href="https://s0.wp.com/i/favicon.ico" sizes="16x16 24x24 32x32 48x48" />
<link rel="apple-touch-icon" href="https://s0.wp.com/i/webclip.png" />
<link rel="search" type="application/opensearchdescription+xml" href="https://design321429498.wordpress.com/osd.xml" title="Design" />
<link rel="search" type="application/opensearchdescription+xml" href="https://s1.wp.com/opensearch.xml" title="WordPress.com" />
<meta name="application-name" content="Design" /><meta name="msapplication-window" content="width=device-width;height=device-height" /><meta name="msapplication-tooltip" content="Author posts, manage comments, and manage Design." /><meta name="msapplication-task" content="name=Edit page;action-uri=https://wordpress.com/page/design321429498.wordpress.com/4;icon-uri=https://s0.wp.com/i/icons/page.ico" /><meta name="msapplication-task" content="name=Write a post;action-uri=https://wordpress.com/post/design321429498.wordpress.com;icon-uri=https://s0.wp.com/i/icons/post.ico" /><meta name="msapplication-task" content="name=Moderate comments;action-uri=https://design321429498.wordpress.com/wp-admin/edit-comments.php?comment_status=moderated;icon-uri=https://s0.wp.com/i/icons/comment.ico" /><meta name="msapplication-task" content="name=Upload new media;action-uri=https://design321429498.wordpress.com/wp-admin/media-new.php;icon-uri=https://s0.wp.com/i/icons/media.ico" /><meta name="msapplication-task" content="name=Blog stats;action-uri=https://design321429498.wordpress.com/wp-admin/index.php?page=stats;icon-uri=https://s0.wp.com/i/icons/stats.ico" /><meta name="description" content="Support your local community. We need your help to continue to provide essential community services to people in crisis. Learn more We are a local organisation that provides support and expertise within the local community, to potential volunteers, existing volunteers, and organisations that involve volunteers. Get in touch: Buffy Summers1630 Revello Drive, Sunnydale, CAmyemail@example.com Follow&hellip;" />
<style type="text/css" media="print">#wpadminbar { display:none; }</style>
	<style type="text/css" media="screen">
	html { margin-top: 32px !important; }
	* html body { margin-top: 32px !important; }
	@media screen and ( max-width: 782px ) {
		html { margin-top: 46px !important; }
		* html body { margin-top: 46px !important; }
	}
</style>
		
		<script>(function(){
			var el = document.querySelector('.launch-banner');
			if ( ! el ) {
				return;
			}
			el.style.display = 'none';
			document.addEventListener('DOMContentLoaded', function() {
				var el = document.querySelector('.launch-banner');
				if ( el ) {
					el.style.display = null;
				}
			} );
		})()</script>
	</head>