{{> mainh}}{{> mainnav}}


	<div class="wrapper">
    <div class="page-header">
      <img src="/assets/img/blob.png" class="path">
      <img src="/assets/img/path2.png" class="path2">
      <img src="/assets/img/triunghiuri.png" class="shapes triangle">
      <img src="/assets/img/waves.png" class="shapes wave">
      <img src="/assets/img/patrat.png" class="shapes squares">
      <img src="/assets/img/cercuri.png" class="shapes circle">
      <div class="content-center">
        <div class="row row-grid justify-content-between align-items-center text-left">
          <div class="col-lg-6 col-md-6">
            <h1 class="text-white"  >FREQUENTLY ASKED 
              <br/>
              <span class="text-white">QUESTIONS</span>
            </h1>
            <p class="text-white mb-3">Here are some possible questions you may have on your mind.</p>
            <div class="btn-wrapper mb-3">
              <p class="category text-success d-inline"></p>
              <a href="#blk" class="btn btn-success btn-link btn-sm"><!--<i class="tim-icons icon-minimal-right">--></i></a>
            </div>
            <!--<div class="btn-wrapper">
              <div class="button-container">
                <button href="javascript:void(0)" class="btn btn-icon btn-simple btn-round btn-neutral">
                  <i class="fab fa-twitter"></i>
                </button>
                <button href="javascript:void(0)" class="btn btn-icon btn-simple btn-round btn-neutral">
                  <i class="fab fa-dribbble"></i>
                </button>
                <button href="javascript:void(0)" class="btn btn-icon btn-simple btn-round btn-neutral">
                  <i class="fab fa-facebook"></i>
                </button>
              </div>
            </div>-->
          </div>
          <div class="col-lg-4 col-md-5">
            <img src="/assets/img/etherum.png" alt="Circle image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
	
	<div class="section section-signup">
        <div class="container">
          
          <div class="row row-grid justify-content-between align-items-center">
            <div class="col-lg-6">
              <h3 class="display-3 text-white">Q.	Is my personal information protected with you?
                
              </h3>
              <p class="text-white mb-3">A.	Yes. Any personal information that you provide to any of our businesses are privacy protected..</p>
              
            </div>
            <div class="col-lg-6 mb-lg-auto">
              <h3 class="display-3 text-white">Q.	Can I change my Username?
                
              </h3>
              <p class="text-white mb-3">A.	No. Usernames and emails are the only thing in your profile that can not be changed...</p>
              
			</div>
		</div>
	</div>
	
	<div class="section section-signup">
        <div class="container">
          
          <div class="row row-grid justify-content-between align-items-center">
            <div class="col-lg-6">
              <h3 class="display-3 text-white">Q.	I have the wrong sponsor what do I do?
                
              </h3>
              <p class="text-white mb-3">A.	Your account will auto delete in 72 hours then you can re register and follow the instructions above the form..<br><br>
<emp><strong>IMPORTANT PLEASE READ THIS!!</strong></emp>

Make sure your sponsor's name is at the sponsor column in the registration form.

If it is not present please copy the link again with no space at the end</p>
              
            </div>
            <div class="col-lg-6 mb-lg-auto">
              <h3 class="display-3 text-white">Q.	The system is telling me to pay someone I do not think I should be paying.. What do I do?
                
              </h3>
              <p class="text-white mb-3">A.	Follow the system and pay who the system tells you to pay... </p>
              </div>
        </div>
    </div>
	
	<div class="section section-signup">
        <div class="container">
          
          <div class="row row-grid justify-content-between align-items-center">
            <div class="col-lg-6">
              <h3 class="display-3 text-white">Q.	How Long do i have to pay my activation fee?
              </h3>
              <p class="text-white mb-3">A.		You have 3 hours to pay and another 24 hours to be confirmed. Do not click to pay if you are not with the money.</p>
              
            </div>
            <div class="col-lg-6 mb-lg-auto">
              <h3 class="display-3 text-white">Q.	How do i get my referral link?
                
              </h3>
              <p class="text-white mb-3">A.	See the <a href = "/referrals" target = "_blank"> referrals </a> section</p>
              </div>
        </div>
    </div>
	  
	
	<div class="section section-signup">
        <div class="container">
          
          <div class="row row-grid justify-content-between align-items-center">
            <div class="col-lg-6">
              <h3 class="display-3 text-white">Q.	Must i refer to earn?
              </h3>
              <p class="text-white mb-3">A.	It depends. But note that this is strictly a multi level marketing platform and as such, it is a referral based business (your referrals follow you), whether you can refer or not, it best you join a fast team in order to benefit from the spillovers and earn without referring.</p>
              
            </div>
             <div class="col-lg-6 mb-lg-auto">
              <h3 class="display-3 text-white">Q.	How long is the feeder matrix?
                
              </h3>
              <p class="text-white mb-3">A.	Our feeder matrix is a 2 x 2 forced matrix. Meaning its just two levels deep!</p>
              </div>
    </div>
	  
	
	<div class="section section-signup">
        <div class="container">
          
          <div class="row row-grid justify-content-between align-items-center">
            <div class="col-lg-6">
              <h3 class="display-3 text-white">Q.	HOW IS {{title}} DIFFERENT FROM OTHERS?
              </h3>
              <p class="text-white mb-3">A.	{{title}} is probably the only online business with hybrid earning system, easy to achieve, built with the users in mind, encourages sponsorship and great team spirit.</p>
              
            </div>
            <div class="col-lg-6 mb-lg-auto">
              <h3 class="display-3 text-white">Q.	How do i activate my account?
                
              </h3>
              <p class="text-white mb-3">A.	Click on the Activate Button on your <a href ="/dashboard" target = "_blank"> dashboard</a>. You will be required to pay N1,000 only to your sponsor.</p>
              </div>
        </div>
    </div>
	  
	  <div class="section section-signup">
        <div class="container">
          
          <div class="row row-grid justify-content-between align-items-center">
            <div class="col-lg-6">
              <h3 class="display-3 text-white">Q.	I just entered the feeder matrix, should i expect payment immediately?
              </h3>
              <p class="text-white mb-3">A.		Ofcourse! start sharing your link. </p>
              
            </div>
            <div class="col-lg-6 mb-lg-auto">
              <h3 class="display-3 text-white">Q.	How much is the referral bonus?
                
              </h3>
              <p class="text-white mb-3">A.		It's N1,000 which happens to be the activation fee. Also you get N15,000 when your downlines are ready to be upgraded to. See <a href = "/howitworks/ref={{sponsor}}">How it works</a> for info</p>
              </div>
        </div>
    </div>
	
	<div class="section section-signup">
        <div class="container">
          
          <div class="row row-grid justify-content-between align-items-center">
            <div class="col-lg-6">
              <h3 class="display-3 text-white">Q.	Are there any refunds?
              </h3>
              <p class="text-white mb-3">A.	No.</p>
              
            </div>
            <div class="col-lg-6 mb-lg-auto">
              <h3 class="display-3 text-white">Q.	Q.	IS THE PROGRAMME OPEN TO EVERYONE?
                
              </h3>
              <p class="text-white mb-3">A.	Yes, the membership is open to anyone, individuals or teams.</p>
              </div>
        </div>
    </div>
	  
	<div class="section section-signup">
        <div class="container">
          
          <div class="row row-grid justify-content-between align-items-center">
            <div class="col-lg-6">
              <h3 class="display-3 text-white">Q.	Will all my  downlines pay to me
              </h3>
              <p class="text-white mb-3">A.		Not really. In the level one of your feeder stage, all your downlines pays to you. However, in the level two, three of your downlines will upgrade to you while one of your downlines will updade to your sponsor as sponsor's bonus. </p>
              
            </div>
            <div class="col-lg-6 mb-lg-auto">
              <h3 class="display-3 text-white">Q.	I just filled up my two legs, what do i do?
                
              </h3>
              <p class="text-white mb-3">A.	Upgrade to the next level with N15,000 to earn N45,000 or more if you have referrals .</p>
              </div>
        </div>
    </div>
	  
	{{> mainf}}