{{> mainh}}

{{> mainnav}}

<div id="content" class="site-content">

	<section id="primary" class="content-area">
		<main id="main" class="site-main">

			
<article id="post-14" class="post-14 page type-page status-draft hentry entry">

	<header class="entry-header responsive-max-width">
		
<h1 class="entry-title">Frequently Asked Questions</h1>
	</header>

	
	<div class="entry-content">
		
<div class="wp-block-group alignfull has-text-color has-background" style="background-color:#ece2e0;color:#1d1e1e;"><div class="wp-block-group__inner-container">
<div style="height:40px;" aria-hidden="true" class="wp-block-spacer"></div>



<h2 style="font-size:72px;">{{mess}}</h2>






<div style="height:40px;" aria-hidden="true" class="wp-block-spacer"></div>



<div class="wp-block-columns">
<div class="wp-block-column" style="flex-basis:66.66%;">
<p class="has-small-font-size"><strong>FEEDER STAGE</strong></p>



<p class="has-small-font-size">This stage is just Two Levels Deep! It is a 2 * 2 matrix that is, each user is required to have two downlines levels under him/her. <br><br> You are meant to receive N10,000 each from two of your referrals and thus, upgrade to level two with N15,000. <br><br> In level two, four (4) of your downlines will pay you N15,000 each which will be a total of N60,000. <br><br>  At this stage, you have maxed out successfully. you can enter the matrix again.</p>


</div>



<div class="wp-block-column" style="flex-basis:33.33%;">
<img src = "/assets/img/chart.png" class = "img-fluid"/><br><br>
</div>
</div>


</div>
	</div>
	
	
{{> mainf}}