{{> mainh}}

{{> mainnav}}

<div class="wrapper">
    <div class="page-header">
      <img src="/assets/img/blob.png" class="path">
      <img src="/assets/img/path2.png" class="path2">
      <img src="/assets/img/triunghiuri.png" class="shapes triangle">
      <img src="/assets/img/waves.png" class="shapes wave">
      <img src="/assets/img/patrat.png" class="shapes squares">
      <img src="/assets/img/cercuri.png" class="shapes circle">
      <div class="content-center">
        <div class="row row-grid justify-content-between align-items-center text-left">
          <div class="col-lg-6 col-md-6">
            <h1 class="text-white"  >HOW IT 
              <br/>
              <span class="text-white">WORKS</span>
            </h1>
            <p class="text-white mb-3">Learn how our platform works here.</p>
            <div class="btn-wrapper mb-3">
              <p class="category text-success d-inline"></p>
              <a href="#blk" class="btn btn-success btn-link btn-sm"><!--<i class="tim-icons icon-minimal-right">--></i></a>
            </div>
            <!--<div class="btn-wrapper">
              <div class="button-container">
                <button href="javascript:void(0)" class="btn btn-icon btn-simple btn-round btn-neutral">
                  <i class="fab fa-twitter"></i>
                </button>
                <button href="javascript:void(0)" class="btn btn-icon btn-simple btn-round btn-neutral">
                  <i class="fab fa-dribbble"></i>
                </button>
                <button href="javascript:void(0)" class="btn btn-icon btn-simple btn-round btn-neutral">
                  <i class="fab fa-facebook"></i>
                </button>
              </div>
            </div>-->
          </div>
          <div class="col-lg-4 col-md-5">
            <img src="/assets/img/etherum.png" alt="Circle image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
	
	<div class="section section-nucleo-icons">
        <img src="assets/img/path3.png" class="path">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
              <h2 class="title">FEEDER STAGE</h2>
              <h4 class="description text-justify">
                This stage is just Two Levels Deep! It is a 2 * 2 matrix that is, each user is required to have two downlines levels under him/her. <br><br>After activating your account with N1,000 which will be paid to your sponsor, you are meant to pay N10,000 to enter the feeder matrix and qualify to start earning.<br><br>Now you are in the feeder matrix, you will receive N10,000 each from two of your referrals and thus, upgrade to level two with N15,000. <br><br> In level two, three (3) of your downlines will pay you N15,000 each which will be a total of N45,000 while just one of your downlines will pay to your sponsor as sponsor's bonus.  <br><br>  At this stage, you have maxed out successfully. you can enter the matrix again.
              </h4>
			</div>
		  </div>
		</div>
	</div>	
	
{{> mainf}}