{{> mainh}}
{{> mainnav}}

<div class="wrapper">
    <div class="page-header page-header-small">
      <div class="page-header-image" data-parallax="true" style="background-image: url('/assets/img/login.png');">
      </div>
      <div class="content-center">
        <div class="container">
          <h1 class="title">{{title}}</h1>
         
        </div>
      </div>
    </div>
	
	<div class="section section-tabs">
        <div class="container">
          <div class="row">
            <div class="col-md-10 ml-auto col-xl-6 mr-auto">
              <p class="category text-center">About Us</p>
              <!-- Nav tabs -->
              <div class="card">
                <div class="card-header">
                  
                </div>
                <div class="card-body">
                  <!-- Tab panes -->
                  <div class="tab-content text-center">
                    <div class="tab-pane active" id="home" role="tabpanel">
                      <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                    </div>
                    <div class="tab-pane" id="profile" role="tabpanel">
                      <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                    </div>
                    <div class="tab-pane" id="messages" role="tabpanel">
                      <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                    </div>
                    <div class="tab-pane" id="settings" role="tabpanel">
                      <p>
                        "I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at."
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
		   </div>
		 </div>
		</div>
		<div class="wrapper">
    <div class="page-header page-header-small">
      <div class="page-header-image" data-parallax="true" style="background-image: url('/assets/img/login.png');">
      </div>
      <div class="content-center">
        <div class="container">
          <h1 class="title"></h1>
         
        </div>
      </div>
    </div>
		<div class="section section-nucleo-icons">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <h2 class="title">HOW IT WORKS</h2>
              <h5 class="description">
                {{title}} comes with 100 custom icons made by our friends from NucleoApp. The official package contains over 2.100 thin icons which are looking great in combination with Now UI Kit PRO Make sure you check all of them and use those that you like the most.
              </h5>
              <!-- <div class="nucleo-container">
							<img src="assets/img/nucleo.svg" alt="">
						</div> -->
              <a href="/howitworks/ref={{username}}" class="btn btn-primary btn-round btn-lg" target="_blank">See more</a>
              </div>
            <div class="col-lg-6 col-md-12">
              <div class="icons-container">
                <i class="now-ui-icons ui-1_send"></i>
                <i class="now-ui-icons ui-2_like"></i>
                <i class="now-ui-icons transportation_air-baloon"></i>
                <i class="now-ui-icons text_bold"></i>
                <i class="now-ui-icons tech_headphones"></i>
                <i class="now-ui-icons emoticons_satisfied"></i>
                <i class="now-ui-icons shopping_cart-simple"></i>
                <i class="now-ui-icons objects_spaceship"></i>
                <i class="now-ui-icons media-2_note-03"></i>
                <i class="now-ui-icons ui-2_favourite-28"></i>
                <i class="now-ui-icons design_palette"></i>
                <i class="now-ui-icons clothes_tie-bow"></i>
                <i class="now-ui-icons location_pin"></i>
                <i class="now-ui-icons objects_key-25"></i>
                <i class="now-ui-icons travel_istanbul"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="container text-center">
          <div class="row justify-content-md-center">
            <div class="col-md-12 col-lg-8">
              <h2 class="title">TESTIMONIES</h2>
              <h5 class="description">The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go. More importantly, looking at them will give you a picture of what you can built with this powerful Bootstrap 4 ui kit.</h5>
            </div>
          </div>
        </div>
      </div>
{{> mainf}}