

Hello! <br><br><br>

You indicated interest to change your password few moments ago. To complete this process, please enter this 7 digit code <br><br><br> 
<br><br><br>

<h4 class = "text-big>{{pin}}</h4>
<br><br><br><br><br><br>
This code becomes invalid after 20 minutes. if you did not make this request, just ignore the message...

...best regards...
